{% extends 'base.html' %}
{% load static %}
{% load staticfiles %}


{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-12 top-div" style="margin-top:40px;"></div>
  </div>

  <div class="text-center">
    <a href="{% url 'new-biz' %}" >
        <button class="btn btn-primary" style="height:50px;  margin-top: -6px;">Register Business</button>
    </a>
  </div>


<div class="row">   
    {% for business in businesses %}
    <div class="col-md-4">
        <div class="card" style="width: 20rem;margin-top:10px;" >
           <div class="card-body">
             <button type="button" class="btn  btn-outline-dark btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal{{business.id}}">{{business.business_name}}</button>
             <!--<h3 class="card-title" data-toggle="modal" data-target="#{{business.id}}">{{business.business_name}}</h3> -->         
          </div>            
        </div>
    </div>
   <!--  modal -->
   <div class="modal fade"  id="exampleModal{{business.id}}" tabindex="-1"  aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalTitle">{{business.business_name }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </div>

                    <div class="modal-body">
                        <img class="card-img-top" src="{{business.logo.url}}" height=200 width=100 >
                        <p><span style="font-weight:bold;">Owner:</span> {{business.owner}}</p><br>
                        <p><span style="font-weight:bold;">Description:</span> {{business.description|safe}}</p>
                    </div>
                    <div class="modal-footer">
                        <h4 class="text-center">Contacts</h4>
                        <br>
                        <p><span class="bold">Tel:</span> {{business.contact}}</p>
                        <br>
                        <p><span class="bold">Email:</span> {{business.business_email}}</p>
                    </div>

           
        </div>
    </div>
</div>



 {%endfor%}
</div>
</div>
</body>
<style>
    .card .btn{
        font-size: 20px;
    }
    body{
        background:url('https://cdn.pixabay.com/photo/2016/11/18/19/27/ground-1836537_960_720.jpg')
    }
    footer{
        margin-top:350px;
    }
</style>
{%endblock%}