{% extends 'base.html' %}
{% load static %}
{% load staticfiles %}


{% block content %}

<div class="container">
  <div class="row top">
    <div class="col-md-12"></div>
  </div>

<div class="text-center">
  <div class="user-image">
    <img src="{{profile.image.url}}" class="gallery-image" alt=""  width=150 height=150>
  </div>
  <p style="font-size: 22px; font-weight:bold;color:white;margin:auto; padding:2px;">{{profile.username}}</p>
  <p class="card-text" style="font-size:20px;color:white;font-weight:bold;">{{profile.bio |safe}}</p>
  <p class="card-text" style="font-size:18px;color:white;font-weight:bold;">Email: {{profile.email}}</p>

  <a class="nav-link" href="{% url 'update-profile' %}">EDIT PROFILE</a>

</div>

</div>

<style>
  footer{
   margin-top: 300px;
  }

  body{
    background: url('https://cdn.pixabay.com/photo/2012/12/09/00/16/abstract-69124_960_720.jpg')
  }
  .nav-link{
    color:white;
    font-weight:bold;
  }
</style>

{% endblock %}


